<div class="responsive-menu visible-sm visible-xs">
        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
        <div class="menu-open">
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li>
                        <a href="javascript:void(0)">About</a>
                        <ul>
                            <li><a href='@Url.Action("AboutHistory","Home")'>History</a></li>
                            <li><a href='@Url.Action("AboutMV","Home")'>Mission & Vision</a></li>
                            <li><a href='@Url.Action("Messages","Home")'>Messages</a></li>
                        </ul>
                    </li>
                    <li><a href='@Url.Action("admission","Home")'>Admission</a></li>
                    <li>
                        <a href="javascript:void(0)">Academics</a>
                        <ul>
                            <li><a href='@Url.Action("Courses","Home")'>Courses</a></li>
                            <li><a href='@Url.Action("Activities","Home")'>Activities</a></li>
                            <li><a href='@Url.Action("Calendar","Home")'>Calendar</a></li>
                        </ul>
                    </li>
                    <li><a href='@Url.Action("Faculty","Home")'>Faculty</a></li>
                    <li><a href='@Url.Action("Galery","Home")'>Gallery</a></li>
                    <li><a href='@Url.Action("alumini_details","Home")'>Alumni</a></li>
                    <li><a href='@Url.Action("contactus","Home")'>Contact</a></li>
                </ul>
            </nav>
        </div> <!-- /.menu-open -->
</div> <!-- /.responsive-menu -->
<header class="site-header">
    <div class="top-header">
        <div class="container">
            <div class="inner-top">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 header-info-left">
                        <div class="row">
                            <div class="col-md-8">
                                <ul>
                                    <li><i class="fa fa-phone"></i>0674-123456</li>
                                    <li><i class="fa fa-envelope-o"></i>vskunitiv1982@gmail.com, vskunitiv_mail@rediffmail.com</li>
                                </ul>
                            </div>
                            <div class="col-md-4 text-right">
                                <ul>
                                    <li><a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-lock">&nbsp;</i>Login</a></li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#exampleModal2"><i class="fa fa-lock">&nbsp;</i>Alumini</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.top-header -->
    <div class="logo-header">
        <div class="container">
            <div class="main-header">
                <div class="row">
                    <div class="col-md-4 col-sm-5 logo">
                        <a href='@Url.Action("Index","Home")'><img src="~/images/logo.png" alt="Gayatri Engg" class="img-responsive"></a>
                    </div> <!-- /this -->
                    <div class="col-md-8 col-sm-7 main-header-right">
                        <div class="social-search">
                            <div class="search-form">
                                <!--<form method="get" name="SearchForm">
                                    <fieldset>
                                        <input type="text" name="s" id="s" placeholder="Search Here...">
                                    </fieldset>
                                </form>-->
                            </div> <!-- /.search-form -->
                            <div class="social-icon-top">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" title="Facebook" class="fa fa-facebook"></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="Twitter" class="fa fa-twitter"></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="Linkedin" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="google-plus" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="youtube" class="fa fa-youtube"></a></li>
                                </ul>
                            </div> <!-- /.social-icon-top -->
                        </div> <!-- /.social-search -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
            </div> <!-- /.main-header -->
        </div> <!-- /.container -->
    </div>
    <div class="menu-wrapper visible-md visible-lg">
        <div class="container">
            <div class="inner-menu">
                <div class="row">
                    <div class="col-md-12 main-menu">
                        <nav>
                            <ul class="sf-menu">
                                <li class="active"><a href='@Url.Action("Index","Home")'>Home</a></li>
                                <li>
                                    <a href="javascript:void(0)">About</a>
                                    <ul>
                                        <li><a href='@Url.Action("AboutHistory","Home")'>History</a></li>
                                        <li><a href='@Url.Action("AboutMV","Home")'>Mission & Vision</a></li>
                                        <li><a href='@Url.Action("Messages","Home")'>Messages</a></li>
                                    </ul>
                                </li>
                                <li><a href='@Url.Action("admission","Home")'>Admission</a></li>
                                <li>
                                    <a href="javascript:void(0)">Academics</a>
                                    <ul>
                                        <li><a href='@Url.Action("Courses","Home")'>Courses</a></li>
                                        <li><a href='@Url.Action("Activities","Home")'>Activities</a></li>
                                        <li><a href='@Url.Action("Calendar","Home")'>Calendar</a></li>
                                    </ul>
                                </li>
                                <li><a href='@Url.Action("Faculty","Home")'>Faculty</a></li>
                                <li><a href='@Url.Action("Galery","Home")'>Gallery</a></li>
                                <li><a href='@Url.Action("alumini_details","Home")'>Alumni</a></li>
                                <li><a href='@Url.Action("contactus","Home")'>Contact</a></li>
                            </ul>
                        </nav>
                    </div> <!-- /.main-menu -->
                </div> <!-- /.row -->
            </div> <!-- /.inner-menu -->
        </div> <!-- /.container -->
    </div> <!-- /.menu-wrapper -->
</header> <!-- /.site-header -->

<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Admin_Login", "Vsk_admin", FormMethod.Post))
                {
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Username</label>
                                <div class="col-md-9">
                                    <input type="text" name="uid" class="form-control" placeholder="username" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" name="pass" class="form-control"  required>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <input type="submit" class="btn btn-primary waves-effect waves-light btn-sm" value="Login" />
                                </div>
                            </div>

                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Login Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Admin_Login", "ManageAlumini", FormMethod.Post))
                {
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Username</label>
                                <div class="col-md-9">
                                    <input type="text" name="auid" class="form-control" placeholder="username" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" name="apass" class="form-control"  required>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <input type="submit" class="btn btn-primary waves-effect waves-light btn-sm" value="Login" />
                                    <a href="@Url.Action("alumini_registration","Home")"><i class="fa fa-user">&nbsp;</i>Alumni Registration</a>
                                </div>
                            </div>

                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
  