 <footer class="site-footer">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 footer-widget">
                        <h4 class="footer-widget-title">Contact Details</h4>
                        <p><strong>Vivekananda Shiksha Kendra</strong></p>
                        <p><i class="fa fa-map-marker" style="padding-right:5px"></i>Unit-4, Bhubaneswar, Odisha</p>
                        <p><i class="fa fa-phone" style="padding-right:5px"></i>0674-2393776</p>
                        <p><i class="fa fa-envelope" style="padding-right:5px"></i><a href="mailto:">vskunitiv1982@gmail.com</a>, <a href="mailto:">vskunitiv_mail@rediffmail.com</a></p>
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-2 col-sm-2 col-xs-12 contact-info footer-widget">
                        <h4 class="footer-widget-title">Useful Links</h4>
                        <ul>
                            <li><a href='@Url.Action("AboutHistory","Home")'>History</a></li>
                            <li><a href='@Url.Action("Messages","Home")'>Messages</a></li>
                            <li><a href='@Url.Action("Faculty","Home")'>Faculty</a></li>
                        </ul>
                    </div> <!-- /.col-md-3 -->
                    <div class="col-md-2 col-sm-2 col-xs-12 contact-info footer-widget">
                        <h4 class="footer-widget-title">Quick Links</h4>
                        <ul>
                            <li><a href='@Url.Action("alumini_details","Home")'>Alumni</a></li>
                            <li><a href='@Url.Action("contactus","Home")'>Contacts</a></li>
                            <li><a href='@Url.Action("Galery","Home")'>Gallery</a></li>
                        </ul>
                    </div> <!-- /.col-md-3 -->
                    <div class="col-md-2 col-sm-2 col-xs-12 contact-info footer-widget">
                        <h4 class="footer-widget-title">Support</h4>
                        <ul>
                            <li><a href='@Url.Action("admission","Home")'>Admission</a></li>
                            <li><a href='@Url.Action("Courses","Home")'>Courses</a></li>
                            <li><a href='@Url.Action("Activities","Home")'>Activities</a></li>
                            <li><a href='@Url.Action("Calendar","Home")'>Calendar</a></li>
                        </ul>
                    </div> <!-- /.col-md-3 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-footer -->
        <div class="main-footer">
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p class="small-text">Copyright 2020 &copy; | Vivekananda Shiksha Kendra</p>
                        </div> <!-- /.col-md-6 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="credits">
                                <p class="small-text">Developed by <a href="https://betacentauri.in/" target="_blank">BETA CENTAURI (P) LTD.</a></p>
                            </div>
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.copyright -->
            </div> <!-- /.container -->
        </div> <!-- /.main-footer -->
    </footer> <!-- /.site-footer -->