@model vsk_betacent.Models.ViewModels.ManageGalleryViewModel
@{ Layout = "_Layout"; }
<!-- Start Main content Wrapper
============================================== -->
@Html.AntiForgeryToken()
<div class="content-wrapper">
    <div class="container-fluid">

        <!-- Breadcrumb -->
        <div class="page-breadcrumb">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h4>Modify Gallery</h4>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Manage Gallery</li>
                        <li>View Gallerys</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->
        <!-- Statistics -->
        <section class="ation-statistics home-2">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-12 mb-xl-0 mb-4 recent-order-list">

                    <div class="card ation-card">
                        <div class="card-header">
                            <h3>Modify Gallery</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                @if(Model.imageList.Any())
                                {
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sl. No.</th>
                                                <th>Title</th>
                                                <th>Photo</th>
                                                <th width="10%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i=1;}
                                            @foreach (var image in Model.imageList)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@image.txt_title</td>
                                                    <td>
                                                        <div class="team-lead">
                                                            <div class="img">
                                                                <div class="gallery-thumb">
                                                                    <a href="~/Resources/Gallery/@image.txt_file" class="fancybox" data-fancybox-group="group3"  title="Vivekananda Shiksha Kendra" target="_blank">
                                                                        <img src="~/Resources/Gallery/@image.txt_file" alt="No Image" height="30px" width="50px">
                                                                    </a>
                                                                </div>
                                                                @* <img alt="No Image" class="img-fluid" src="~/Resources/Gallery/@image.txt_file" height="30px" width="50px" /> *@
                                                                
                                                            </div>
                                                        </div>    
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn-sm btn-primary btn-xs waves-effect waves-light" data-toggle="modal" data-target="#manageImage" onclick="ManageImage('@image.int_id','E');"><i class="fa fa-edit"></i></a>
                                                        <a href="#" class="btn-sm btn-danger btn-xs waves-effect waves-light" onclick="ManageImage('@image.int_id','D');"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else{
                                    <span>No record found.</span>
                                }
                                
                            </div>
                        </div>
                    </div>

                </div>
                <!--/col-->
            </div>
            <!--/Row-->
        </section>
        <!-- /Statistics -->
        <!-- /section -->
    </div>
</div>


<!-- End of Main content Wrapper
============================================== -->
<!-- Modal -->
<div class="modal fade" id="manageImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divView">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    
    <script>
        function ManageImage(id, type) {
            $('#divView').empty();
            if (type == 'E') {
                $.ajax({
                    url: '@Url.Action("_PartialEditImageDetails","ManageGallery")',
                    data: { 'id': id },
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: "html",
                    success: function (result) {
                        $('#exampleModalLongTitle').text("Edit Image");
                        $('#divView').html(result);
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                })
            }
            else {
                var isDeleteImage = confirm("Are you sure you want to delete the image?");
                if (isDeleteImage) {
                    $.ajax({
                        url: '@Url.Action("DeleteImage", "ManageGallery")',
                        data: { id: id },
                        contentType: 'application/x-www-form-urlencoded',
                        type: 'POST',
                        dataType: "json",
                        success: function (result) {
                            
                        },
                        error: function (xhr, status) {
                           // alert(status);
                        }
                    })
                } 
            }

        }

    </script>
}
